{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
    {jsone, {git, "git://github.com/sile/jsone.git", {tag, "1.7.0"}}},
    {lager, {git, "git://github.com/erlang-lager/lager.git", {tag, "3.9.1"}}}
]}.

{shell, [
    {apps, [cumqueue]}
]}.
